@charset "UTF-8";

body {
    margin: 0;
    min-height: 100vh;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Lexend', sans-serif;
    text-align: center;
}

h1 {
    margin: 0;
}

.footer {
    margin-top: 12px;
    font-size: 0.85rem;
    opacity: 0.7;
}
